*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;
}

.green:root {
    --color-primary: #21be5bff;
    --soft-primary: #9dddb7;
}

.blue:root {
    --color-primary: #015afe;
    --soft-primary: #9db1dd;
}

.purple:root {
    --color-primary: #8e0cc1;
    --soft-primary: #c69ddd;
}

body {
    font-family: 'Poppins', sans-serif;
}

.picker-option {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    margin-top: 20px;
}

.picker-option:hover {
    filter: brightness(150%);
}

.picker-option--blue {
    background-color: #015afe;
}

.picker-option--green {
    background-color: #21be5bff;
}

.picker-option--purple {
    background-color: #a105df;
}

main {
    width: 1200px;
    margin: auto;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.container {
    display: flex;
    margin-top: 10px;
    overflow: scroll;
    gap: 60px;
    padding: 15px;
    overflow-y: hidden;
}

.tela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project, .project-capa, .project-initial {
    width: 320px;
    height: 650px;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 42px;
    border: 5px solid black;
}

.project-initial {
    padding: 15px;
}

.project-capa {
    background-color: var(--color-primary);
    color: #ffffff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project:nth-child(1) {
    color: #ffffff;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.project .project-capa {
    background-color: var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-initial {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.screen-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 25px;
}

.screen-bottom h3 {
    font-size: 22px;
    font-weight: 400;
}

.screen-bottom p {
    font-size: 13px;
    color: rgb(108, 108, 108);
}

.screen-paragraph {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.screen-bottom strong{
    color: var(--color-primary);
}

.sign-buttons {
    display: flex;
    gap: 8px;
    height: 40px;
}

.sign-buttons button {
    outline: none;
    border: none;
    border-radius: 5px;
    flex: 1;
    cursor: pointer;
    font-weight: 600;
}

.sign-buttons button:nth-child(1) {
    border: 1px solid var(--color-primary);
    transition: 0.25s ease-in-out;
}

.sign-buttons button:nth-child(1):hover {
    background-color: var(--color-primary);
    color: #fff;
}

.sign-buttons button:nth-child(2) {
    background: var(--color-primary);
    color: #fff;
    transition: 0.25s ease-in-out;
}

.sign-buttons button:nth-child(2):hover {
    background: #fff;
    border: 1px solid var(--color-primary);
    color: #223;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--color-primary);
    border-radius: 36px 36px 30px 30px;
    color: #fff;
    padding: 20px 15px 30px 15px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.profile-image img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid transparent;
    transform: 0.25s ease-in-out;
}

.header-bottom h2 {
    font-weight: 600;
    font-size: 16px;
}

.header-bottom p {
    font-weight: 400;
    font-size: 12px;
}

.profile-image img:hover {
    border: 2px solid greenyellow;
}

h2 {
    font-size: 14px;
}

small {
    font-size: 12px;
}

section {
    margin: 30px 0px;
}

section .card {
    background-color: var(--color-primary);
    border-radius: 10px;
    color: #ffffff;
    padding: 8px 5px;
    display: flex;
    position: relative;
}

.card img {
    width: 80px;
    height: 80px;
    margin-top: 100px;
    position: absolute;
    bottom: 0;
}

.card h1 {
    color: #fff;
    font-size: 18px;
}

.card p{
    font-size: 12px;
    max-width: 200px;
    margin-top: 5px;
    font-weight: 300;
}

section .card button {
    margin: 10px 0px;
    outline: none;
    border: none;
    background: #ffffff;
    color: #223;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.escolhas {
    padding: 0px 8px;
}

.escolhas-card {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #223;
    font-weight: bold;
    font-size: 13px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
    border-radius: 10px;
    padding: 10px 8px;
}

.escolhas-card__left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-title{
    font-size: 14px;
}

.card-description{
    color: rgb(108, 108, 108);
    font-weight: 300;
    font-size: 12px;
}

.escolhas-icon {
    background: var(--soft-primary);
    color: #223;
    border-radius: 10px;
    padding: 2px;
    font-size: 18px;
}

.escolhas-icon i{
    border: 2px solid #fff;
    padding: 8px;
    border-radius: 10px;
}

.escolhas-arrow {
    color: var(--soft-primary);
    font-size: 20px;
}